<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%- block title -%}{{ config.SITE_NAME }}{%- endblock -%}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    {% include 'deps.html' %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ config.SITE_NAME }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if request.endpoint == 'index' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('index') }}">Home</a></li>
                {% if not session.logged_as %}
                {% if request.endpoint == 'login' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                {# <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li> #}
            </ul>
            {% if session.logged_as %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logged in as {{ session.logged_as }}</a></li>
            </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
<hr>
{% block content %}{% endblock %}
</div>
</body>
</html>