<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%- block title -%}{{ config.SITE_NAME }}{%- endblock -%}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    {% include 'deps.html' %}
</head>
<body>
{% include 'menu.html' %}

{# <div class="ui vertical menu">
    <a class="active item">
        <div class="ui teal label">1</div>
        Vertical
    </a>
    <a class="item">
        <div class="ui label">51</div>
        Menu
    </a>
    <a class="item">
        <div class="ui label">1</div>
        Example
    </a>
    <div class="item">
        <div class="ui icon input">
            <input placeholder="Search mail..." type="text">
            <i class="search icon"></i>
        </div>
    </div>
</div> #}

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>